@model DeleteViewModel;

<h1>Are you sure you whant to delete your account?</h1>

@foreach(var error in Model.Errors)
{
    <p>
        <mark>@error</mark>
    </p>
}

<form method="post" asp-action="ConfirmDelete">
    <button type="submit" class="secondary">Yes</button>
    <a style="display: block;" role="button" asp-action="Index" asp-controller="Account">No</a>
</form>
