@{
    ViewData["Title"] = "Email edit";
}


<hgroup>
    <h1>Edit your email</h1>
    <h2>Fill the form to change your email</h2>
</hgroup>

<form method="post" asp-action="ChangeEmail">
    <label for="email">New email</label>
    <input type="email" placeholder="Enter new email" name="email" id="email" required>

    <button type="submit">Change</button>
</form>