@model AccountViewModel

@{
    ViewData["Title"] = "Welcome";
}


<h1>Account</h1>

@* <table>
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@(Model.Email ?? "")</td>
    </tr>
</table>

<a asp-controller="Account" asp-action="Delete">Delete</a>