@model Web.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<hgroup>
    <h1>Change password</h1>
    <h2>Please fill in this form to change the password</h2>
</hgroup>

<form method="post" asp-action="ChangePassword">
    <label asp-for="OldPassword">Old Password</label>
    <input asp-for="OldPassword" placeholder="Enter old password" />
    <span asp-validation-for="OldPassword"> </span>

    <label asp-for="NewPassword">New Password</label>
    <input asp-for="NewPassword" placeholder="Enter new password" />
    <span asp-validation-for="NewPassword"></span>

    <div id="errorsList" asp-validation-summary="All"></div>

    <button type="submit">Confirm change</button>

</form>



