@{
    ViewData["Title"] = "Welcome";
}

<hgroup>
    <h1>QuasarSoft Auth</h1> 
    <h2>Authentication service made by QuasarSoft team for FIT KNU Tournament 2023</h2>
</hgroup>

<form method="post" action="action_page.php">
    <h3 style="text-align: center;">Login</h3>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <hr>
    <button type="submit" class="registerbtn">Login</button>
    
    <div class="container signin">
        <p>You havent account? <a href="/register">Register</a></p>
    </div>
</form>