@model Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registration Page";
}

<hgroup>
    <h1>Registration</h1>
    <h2>Please fill in this form to create an account</h2>
</hgroup>

<form method="post" asp-action="Register">
    <div class="container">
        <h1 style="text-align: center;">Registration</h1>
        <p style="text-align: center;">Please fill in this form to create an account</p>
        <div style="margin-bottom: 20px">
            <label asp-for="Email"><b>Email</b></label>
            <input asp-for="Email" class="form-control" placeholder="Enter Email" />
            <span asp-validation-for="Email"> </span>

            <label asp-for="Password"><b>Password</b></label>
            <input asp-for="Password" class="form-control" placeholder="Enter Password" />
            <span asp-validation-for="Password"> </span>

            <label asp-for="ConfirmPassword"><b>Confirm Password</b></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword"> </span>
        </div>
            <div class="mt-5" id="errorsList" asp-validation-summary="All" ></div>
            
    </div>

    <button type="submit" class="registerbtn">Register</button>

    <div class="container signin">
        <p>Already have an account? <a href="/home">Login</a>.</p>
    </div>
</form>



<partial name="~/Views/Shared/_WrappingMarkOnErrorPartial.cshtml" />

