@model Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registration Page";
}

<hgroup>
    <h1>Registration</h1>
    <h2>Please fill in this form to create an account</h2>
</hgroup>

<form method="post" asp-action="Register">
    <label asp-for="Email">Email</label>
    <input asp-for="Email" placeholder="Enter Email"/>
        
    <label asp-for="Password"><b>Password</b></label>
    <input asp-for="Password" placeholder="Enter Password"/>
        
    <label asp-for="ConfirmPassword"><b>Confirm Password</b></label>
    <input asp-for="ConfirmPassword" placeholder="Confirm Password"/>
        
    @if (string.IsNullOrEmpty(ViewData["PasswordError"] as string))
    {
        <div asp-validation-summary="All" class="text-danger"></div>
    }
    
    <button type="submit">Register</button>
</form>


<div class="container signin">
    <p>Already have an account? <a href="/">Login</a></p>
</div>
