<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuasarSoft</title>

    <link rel="stylesheet" href="~/css/pico.min.css" asp-append-version="true" />
</head>
<body class="container">
    <nav>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">QuasarSoft Auth</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://github.com/roman-koshchei/fit-knu-tournament">GitHub</a>
            </li>
            <li>
                <a href="/swagger">Swagger</a>
            </li>
            <li>
                <a href="/register">Registration</a>
            </li>
        </ul>
    </nav>
    
    <main>
        @RenderBody()
    </main>
    
    <footer>
        &copy; @(DateTime.Now.Year) - QuasarSoft
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
