<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuasarSoft</title>

    <link rel="stylesheet" href="~/css/pico.min.css" asp-append-version="true" />
</head>
<body class="container">
    <nav style="flex-wrap:wrap;">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">QuasarSoft Auth</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://github.com/roman-koshchei/fit-knu-tournament" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="/swagger">Swagger</a>
            </li>
            <li>
                <a href="/Account">Account</a>
            </li>
        </ul>
    </nav>
    
    <main>
        @RenderBody()
    </main>
    
    <footer>
        &copy; @(DateTime.Now.Year) - QuasarSoft
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
